//자주 등장하는 스타일값
$activeColor : #ff0000 ;
$activeDeep :  #720c0c ;

body{
    *{
        font-family: 'Montserrat', 'Pretendard', sans-serif;
        font-weight: 400;
    }
}
h1, h2, h3, p, ul, li, dl, dt, dd{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: $activeColor;
}